#danger
{
    height: 100vh;
    width: 100vw;
    background-color: #00FF00;
}
#dtext
{
    height: 30vh;
    width: 50vw;
    display: block;
    color: #FF00FF;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    text-align: center;
}

